service: beatport-scrapper

frameworkVersion: '3'
useDotenv: true

provider:
  name: aws
  runtime: python3.11
  stage: ${opt:stage, 'dev'}
  region: ${env:AWS_REGION, 'us-east-1'}
  ecr:
    images:
      tools_beatport:
        path: ./
        platform: linux/amd64
  environment:
    env: ${self:provider.stage}


package:
  patterns:
    - '!venv/**'
    - '!venv_prod/**'
    - '!.env*'
    - '!.gitignore'
    - '!.dockerignore'
    - '!Makefile'
    - '!logs'
    - '!data'
    - '!explorations'
    - '!node_modules'
    - '!archives'

custom:
  prune:
    automatic: true
    includeLayers: true
    number: 2
  pythonRequirements:
    usePipenv: true

plugins:
  - serverless-prune-plugin
  - serverless-dotenv-plugin


functions:
  beatport:
    timeout: 120
    memorySize: 1024
    ephemeralStorageSize: 512
    #handler: src/handler.main
    image:
      name: tools_beatport
      command:
        - src/handler.main